---
import Hero from '../sections/Hero.astro';
import Layout from '../layout/Layout.astro';
import Projects from '../sections/Projects.astro';
import Stack from '../sections/Stack.astro';
import About from '../sections/About.astro';
import Contact from '../sections/Contact.astro';
---

<Layout>
  <main class="flex flex-col gap-6">
    <Hero />
    <Projects />
    <Stack />
    <About />
    <Contact />
  </main>
</Layout>
