<div
  class={`animate-container ${Astro.props.class ?? ''}`}
  data-threshold={Astro.props.threshold ?? 1}
>
  <slot />
</div>

<script>
  const containers = document.querySelectorAll('.animate-container');
  containers.forEach((container) => {
    // Lee el threshold desde el atributo data-threshold
    const threshold = Number(container.getAttribute('data-threshold')) || 1;

    const animatedElements = Array.from(container.children).filter((el) =>
      Array.from(el.classList).some((cls) => cls.startsWith('a-'))
    );

    if (animatedElements.length === 0) return;

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          const el = entry.target as HTMLElement;

          if (entry.isIntersecting) {
            if (el.dataset.animated === 'true') return;
            el.dataset.animated = 'true';
            if (el.classList.contains('opacity-0')) {
              el.classList.remove('opacity-0');
            }
            const animationClasses = Array.from(el.classList).filter((cls) =>
              cls.startsWith('a-')
            );
            el.classList.remove(...animationClasses);
            void el.offsetWidth;
            el.classList.add(...animationClasses);
          }
        });
      },
      {
        root: null,
        rootMargin: '0px',
        threshold: threshold,
      }
    );

    animatedElements.forEach((el) => observer.observe(el));
  });
</script>
