---
const { icon: Icon, title, text, buttonText, url } = Astro.props;
---

<div>
  <Icon />
  <div>
    <h3>{title}</h3>
    <p>{text}</p>
  </div>
  <button>
    <a href={url}>{buttonText}</a>
  </button>
</div>
