---
import ThemeToggle from './ThemeToggle.astro';
import { NAV_ITEMS } from '../consts/Consts';
import ResponsiveHeader from './ResponsiveHeader.astro';
---

<header
  class="absolute md:fixed top-0 z-100 flex items-center justify-between md:justify-center w-screen mt-2"
>
  <nav
    class="flex justify-between md:justify-center items-center w-full md:w-auto gap-8 py-2 px-10 font-medium text-xs md:text-xl bg-black-haze-100 dark:bg-zinc-800 text-primary
    dark:text-white rounded-full backdrop-blur-2xl"
  >
    <picture class="flex items-center gap-2 md:block">
      <img src="./logo.svg" alt="Logo de Orlando López" class="size-12" />
      <span class="text-xl gradient-text font-semibold md:hidden block"
        >Portfolio Personal</span
      >
    </picture>
    <ul class="hidden md:flex items-center">
      {
        NAV_ITEMS.map(({ title, href }) => (
          <li>
            <a
              class={`relative block px-2 py-2 transition hover:text-blue-500 hover:scale-110`}
              aria-label={title}
              href={href}
            >
              {title}
            </a>
          </li>
        ))
      }
    </ul>
    <div class="flex items-center gap-2">
      <ThemeToggle />
      <ResponsiveHeader />
    </div>
  </nav>

  <style>
    nav {
      animation: nav-shadown 1s linear both;
      animation-timeline: scroll();
      animation-range: 0 300px;
    }

    @keyframes nav-shadown {
      to {
        box-shadow: 0 12px 25px -9px rgba(0, 0, 0, 0.5);
      }
    }
  </style>
</header>
