---
import { SOCIAL_LINKS } from '../consts/Consts';
---

<ul class="flex flex-col gap-6">
  {
    SOCIAL_LINKS.slice(0, 3).map(
      ({ href, icon: Icon, borderColor, placeholder, textColor }) => (
        <li>
          <a
            class={`flex items-center gap-3 px-4 py-2 rounded-lg min-w-100 border-2 ${borderColor} ${textColor} hover:-translate-y-1 hover:text-white transition`}
            href={href}
          >
            <Icon />
            {placeholder}
          </a>
        </li>
      )
    )
  }
</ul>
