---
import MeCard from '../components/MeCard.astro';
import MeContent from '../components/MeContent.astro';
import SectionContainer from '../components/SectionContainer.astro';
import UserIcon from '../icons/User.astro';
---

<SectionContainer
  id="about"
  title="Sobre Mí"
  icon={UserIcon}
  paragraph="Conoce más sobre mi trayectoria, pasiones y enfoque personal"
  className="dark:bg-slate-900 dark:text-white"
>
  <main
    class="flex items-center flex-col xl:flex-row xl:items-start gap-12 mt-8"
  >
    <MeCard />
    <MeContent />
  </main>
</SectionContainer>
