---
import ProjectCard from '../components/ProjectCard.astro';
import SectionContainer from '../components/SectionContainer.astro';
import BriefCaseIcon from '../icons/BriefCase.astro';
import MessageIcon from '../icons/Message.astro';
import AnimateContainer from '../components/AnimateContainer.astro';
import GradientButton from '../components/GradientButton.astro';
---

<SectionContainer
  id="projects"
  className="gap-12 dark:bg-slate-900 dark:text-white"
  title="Proyectos Personales"
  icon={BriefCaseIcon}
  paragraph={`Una selección de mis trabajos más recientes donde aplico las últimas
      tecnologías y mejores prácticas de desarrollo`}
>
  <AnimateContainer>
    <div class="a-fade">
      <ProjectCard />
    </div>
  </AnimateContainer>
  <AnimateContainer>
    <aside
      class="a-slide-in-bottom opacity-0 flex flex-col items-center justify-center gap-4"
    >
      <p class="text-gray-600 text-lg">
        ¿Quieres ver más proyectos o colaborar en algo nuevo?
      </p>
      <GradientButton
        href="https://wa.me/+584242860846"
        target="_blank"
        rel="noopener noreferrer"
      >
        <MessageIcon />
        Hablemos de tu proyecto
      </GradientButton>
    </aside>
  </AnimateContainer>
</SectionContainer>
