---
import SectionContainer from '../components/SectionContainer.astro';
import BriefCaseIcon from '../icons/BriefCase.astro';
---

<SectionContainer id="projects" className="bg-gray-100 mt-36">
  <div class="flex flex-col items-center justify-center gap-4">
    <h2 class="flex items-center gap-2 text-4xl font-semibold">
      <BriefCaseIcon class="text-blue-500 size-12" />
      Proyectos Personales
    </h2>
    <p class="max-w-3xl text-center text-lg text-gray-700">
      Una selección de mis trabajos más recientes donde aplico las últimas
      tecnologías y mejores prácticas de desarrollo
    </p>
  </div>
</SectionContainer>
